h1, h2, h3, h4 {
    color: yellow;
}

h1:hover {
    transform: rotate(180deg);
}


body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: coral;
    color: chartreuse;
}

header {
    background-color: aqua;
    transform: rotate(0.5turn);
}

li    {
    list-style-type: armenian;
}

p {
    border-style: dotted;
    border-color: fuchsia;
    border-width: thick;
    border-radius: 80%;
}

section {
   padding: 20px;
   margin: 10px;
   background: #ff0030;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}

